/*  your css code here. If applicable */
#yellow{
    background:yellow;
	border-width:1px;
	border: solid rgb(0, 128, 0);
	
}

#red{
    background:red;
	border-width:1px;
	border: solid rgb(0, 0, 0);
}

#green{
    background:green;
	border-width:1px;
	border: solid rgb(255, 255, 0);
}