/*  your css code here. If applicable */
#yellow{
    background:yellow;
	border-width:1px;
	border: 3px solid green;
}

#red{
    background:red;
	border-width:1px;
	border: 3px solid black;
}

#green{
    background:green;
	border-width:1px;
	border: 3px solid yellow;
}