/*  your css code here. If applicable */
#yellow{
    background:yellow;
	border:1px solid rgb(0, 128, 0);;
	}

#red{
    background:red;
	border:1px solid rgb(0, 0, 0);
	
}

#green{
    background:green;
	border:1px solid rgb(255, 255, 0);
}